{%- comment -%}
these comments ensure whitespace is removed around the following anchor
{%- endcomment -%}
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">CC BY-NC-SA 4.0<img class="ccimg" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""><img class="ccimg" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""><img class="ccimg" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt=""><img class="ccimg" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt=""></a>
{%- comment -%}
{%- endcomment -%}
